.AshowMain {
  text-align: center;
  width: 100%;
  max-width: 100%;
	overflow-x: hidden;
}

/* Notice */
.AshowMain .mainNotice {
  margin-top: 130px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AshowMain .mainNotice .noticeImageBox {
  margin: 30px;
}
.AshowMain .mainNotice .noticeImageBox img {
  margin: 20px;
}
.AshowMain .sub_notice {
  font-size: 30px;
  margin: 10px 0;
  left: 0;
  right: 0;
}
.AshowMain .sub_notice2 {
  font-size: 20px;
  margin: 10px 0;
  line-height: 40px;
  left: 0;
  right: 0;
}


/* notice name common */
.AshowMain .notice_name {
  position: relative;
  left: 0;
  right: 0;
  margin: 40px auto 20px;
  width: 300px;
  height: 40px;
  display: flex;
}
.AshowMain .notice_name .box1 {
  font-size: 30px;
}
.AshowMain .notice_name .box2 {
  margin: auto;
  font-weight: 600;
  font-size: 35px
}





/* Qustion */
.AshowMain .Qustion {
  padding: 1px;
}


/* LocationMap */
.AshowMain .LocationMap {
  padding: 1px;
  background-color: rgb(234, 234, 234);
}


/* AboutUs */
.AshowMain .AboutUs {
  padding: 1;
}
.AshowMain .AboutUs .notice_name {
  width: 310px;
}


/* Store */
.AshowMain .Store {
  margin-top: 100px;
  background-color: rgb(234, 234, 234);
  padding: 1px;
}
.AshowMain .Store .notice_name {
  width: 350px;
}

/* footer */
.AshowMain .footer {
  width: 100%;
}


@media screen and (max-width : 700px){
  .AshowMain .header {
    width: 100%;
    height: 100px;
  }
  .AshowMain .menu_1 {
    font-size: 1.4rem;
  }
  .AshowMain .menu {
    width: 90%;
    display: block;
  }
  .AshowMain .menu .menulist {
    width: 120px;
    font-size: 14px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .AshowMain .mainNotice {
    height: 750px;
  }
  .AshowMain .sub_notice {
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .AshowMain .sub_notice2 {
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
  }
   
  .AshowMain .notice_name {
    width: 220px;
  }
  .AshowMain .notice_name .box1 span {
    font-size: 40px;
  }
  .AshowMain .notice_name .box2 {
    font-size: 30px
  }
  .AshowMain .AboutUs .notice_name {
    width: 240px;
  }
  .AshowMain .Store .notice_name {
    width: 280px;
  }
  .AshowMain .ProductPrice_notice {
    font-size: 16px;
  }
}